<section class="personal-details-wrapper">
  <app-details-form (detailsAdded)="onDetailsAdded($event)"></app-details-form>
  <mat-card class="graphic-wrapper">
    <mat-card-header>
      <mat-card-title>Personal Details Graphic</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="graph-section" *ngIf="details$ | async as details">
        <!-- <app-details-graphic [data]="details$ | async"></app-details-graphic> -->
        <ngx-charts-line-chart
          [results]="details"
          [xAxis]="true"
          [xAxisLabel]="'Age'"
          [yAxisLabel]="'No. Close Friends'"
          [roundDomains]="true"
          [yAxis]="true"
          [showGridLines]="true"
          [showRefLabels]="true">
        </ngx-charts-line-chart>

      </div>
    </mat-card-content>
  </mat-card>
</section>
