.personal-details-wrapper {
  padding: 1rem;

  .details-card {
    width: 30%;

    .details-card-content {

      .details-form {
        display: flex;
        flex-direction: column;
      }
    }

    .details-card-footer {
      .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
