<section class="personal-details-wrapper">
  <mat-card class="details-card">
    <mat-card-header class="details-card-header">
      <mat-card-title>Personal Details</mat-card-title>
    </mat-card-header>

    <mat-card-content class="details-card-content">
      <form [formGroup]="personalDetailsForm" class="details-form">
        <mat-form-field class="details-input name">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="details-input friends">
          <mat-label>Friends</mat-label>
          <input matInput formControlName="friends" />
        </mat-form-field>
        <mat-form-field class="details-input age">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" />
        </mat-form-field>
        <mat-form-field class="details-input weight">
          <mat-label>Weight</mat-label>
          <input matInput formControlName="weight" />
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-footer class="details-card-footer">
      <mat-card-actions class="actions">
        <button
          mat-raised-button
          class="clear-form-btn action-btn"
          (click)="personalDetailsForm.reset()"
        >
          Clear
        </button>
        <button
          mat-raised-button
          class="submit-form-btn action-btn"
          [color]="'accent'"
          (click)="onSubmit()"
        >
          Add Details
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</section>
